
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
    font-family:'Trebuchet MS'
       

}


body {
    
    font-family:'Trebuchet MS';
    overflow-x: hidden;
}



/* Header styling */

.myheader {

  .top-nav {
    background-color: #fff;
    display: flex;
    padding-left: 40px;
  }
  
  .top-nav a {
    color: #000;
    padding: 5px 15px;
    font-size: 12px;
  }
  
  .top-nav a:nth-child(1) {
    color: #000;
    border-bottom: 7px solid #0aa58e;
  }
  
  .top-nav a:nth-child(1) span {
    font-weight: bold;
  }
  
  .top-nav a:hover {
    color: black;
    background-color: #0aa58e;
  }
}



/* Second Navbar starts here */


.navbar-nav {
  .navBtn {
    
    
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 20px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    font-size: 15px;
    font-weight: bold;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
    &:hover {
        color: rgb(61, 79, 88);
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(93, 108, 116);
        box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
    }

    
  }
  

  .dropdown-menu {
    background-color: #d7faf5;
    
    li a:hover {
      background-color: #46c2af;
    }
  }
}




.mx-background-top-linear {
  background: -webkit-linear-gradient(45deg, #0aa58e 48%, #01201d 48%);
  background: -webkit-linear-gradient(left, #0aa58e 48%, #01201d 48%);
  background: linear-gradient(45deg, #0aa58e 48%, #01201D 48%);
}








    
        

/* landing page starts here*/
.landingpage {
    
  background: #1ebba6;
  background: -webkit-radial-gradient(circle, #1ebba6 0%, #4776e6 100%);
  background: radial-gradient(circle, #1ebba6 0%, #4776e6 100%);
  border-radius: 25% 25% 25% 33% / 0% 0% 0% 27%; 
    .row {
        padding: 4em;
        margin-bottom: 5em;
    }

    h1 {
        font-size: 4em;
        font-weight: bold;
        color: #fff;
        text-shadow: -0.01em -0.05em 0.09em #01201d;
	      
    }

    p {
      color: #000;
    }

    .video-container {
        border-radius: 2em;
        overflow: hidden;
        height: 67vh;
        
    }
    
    .video-container video {
        width: 120%;
        
    }

   

    .paraicons i {
        font-size: 3em;
        color: rgb(248, 245, 245);
    }



   
}


/* mobile responsiveness */

@media screen and (max-width: 700px) {

    /* landing page starts here*/
  .landingpage {
      
    .row {
          padding: 3em;
          margin-bottom: 0em;
      }

      h1 {
          font-size: 3em;
        
      }
    

      .paraicons i {
          font-size: 2em;
    
      }



    
  }

  
}



/* Search input starts here */
.search-box {
    position: relative;
    bottom: 6em;
    padding: 1em 2em;
    border-radius: 1em;
    background-color: #fffdfc;
    box-shadow: 0 -1px 6px 2.5px #1ebba6;
    width: 85%;
    margin: auto;


    .search-input {
      border: 1px solid #1ebba6;
      padding: 0.5em 2em;
      border-radius: 3em;
      margin-bottom: 1em;
    }

    .search-flex {
      justify-content: space-between;
      align-items: center;
    }

    label {
      font-size: 0.9em;
      font-weight: bold;
      color: #0d4e46;
    }

    input {
      outline: none;
      border: none;

    
    }

    button {
      display: inline-block;
      color: white;
      background: #0d4e46;
      border-radius: 50px;
      padding: 0.5em 1.5em;
      transition: background-color 0.2s, box-shadow 0.2s;
    }

    button:hover {
      background-color: #07e9c7;
      box-shadow: 0 0 0 0.15rem #07e9c7;
    }

    .search-btn-icon {
      display: none;
      color: white;
      background: #0d4e46;
      border-radius: 50%;
      padding: 0.5em;
      transition: background-color 0.2s;
    }

    .search-btn-icon:hover {
      background-color: #07e9c7;
    }

    .divider {
      font-size: 1.5em;
      color: #042420;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    ul li {
      display: inline;
    }

    ul li:not(:last-child) {
      margin-right: 1em;
    }

    a {
      color: #0d4e46;
      text-decoration: none;
    }

    /* Responsive styling */
    @media (max-width: 700px) {
      .search-box {
        padding: 0.5em;
      }

      .search-input {
        padding: 0.5em 0.8em;
      }

      button {
        display: none;
      }

      .search-btn-icon {
        display: inline-block;
      }
    }

}

/* mobile responsiveness */

@media screen and (max-width: 700px) {
    /* Search input starts here */
    .search-box {
      position: relative;
      top: -8em;
      padding: 0.5em;
      width: 65%;
      height: 10em;


      .search-input {
        border: 1px solid #1ebba6;
        padding: 0.5em 0.8em;
        border-radius: 3em;
        margin-bottom: 1em;
      }


      ul {
        
        visibility: collapse;
      }

      button {
        display: none;
      }

      .search-btn-icon {
        display: inline-block;
      }
     

      
     

    }
}



/* High quality starts here */

.highBTN {
    
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 12px 35px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background: #0d4e46;
    background: -webkit-linear-gradient(101deg, #0d4e46 0%, #000f0e 100%);
    background: linear-gradient(101deg, #0d4e46 0%, #01201d 100%);
    border-radius: 50px;
    transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
    
    
    &:hover{
      box-shadow: 0 0 0 0.15rem #07e9c7;
    }
    
}




/* cards styling starts here */

.container-cards {
    margin-top: 5em;
    
    
    
}


.wrap-card {
    margin-bottom: 30px;
    text-align: center;
    
  }
  .card-image .card-main .img-wrapper {
    height: 100%;
    
  }
  .card-image .card-main {
    display: none;
  }
  .card-image-title-description .card-main .img-wrapper {
    max-height: 160px;
  }
  .card-image-title-description .card-main {
    position: relative;
    min-height: 300px;
  }
  .card-image-title-description .card-main {
    height: auto;
    position: relative;
    top: 0;
    margin-bottom: -70px;
  }
  .card-image-title-description .card-main:hover {
    top: -70px;
  }
  .card-image-title-description .card-main .title-card {
    margin-bottom: .75rem;
  }
  .card-main {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    height: 100%;
    background-color: #2b210d;
    /* border: 1em solid coral; */
  }
  .card-main:hover {
    box-shadow: 8px 12px 31px -10px #8eaca8;
  }
  .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    overflow: hidden;
  }
  .img-wrapper img {
    transition: 1.5s ease;
  }
  .card-main:hover .img-wrapper img {
    transform: scale(1.15);
  }
  .title-card {
    margin-bottom: calc(50% + 20px);
    transition: 1.5s ease;
  }
  .card:hover .title-card {
    margin-bottom: .75rem;
  }
  
  .body-card {
    
    height: 45%;
    
    transition: 1.5s ease;

    h5 {
        font-size: 1.5em;
        font-weight: 700;
        color: #0d4e46;
        text-transform: capitalize;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }
  .card-content {
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: 1.5s ease;
  }
  .card-main:hover .body- {
    height: 50%;
  }
  .card-main:hover .card-content {
    bottom: 0;
  }

  .card-main.no-border {
    border: none;
    /* background-color: #fff9ec; */
  }

  .button {
    display: inline-block;
    background: #20939b;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
  .button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -8px) scale(1);
    transform: translate(0px, -8px) scale(1);
    color: #fff;
    background-color: #055358;

  }



  /* GOT YOU COVERED STARTS HERE */

.got-you-covered {


    .col-md-12, .col-md-6 {

        .bttn{
            color: #fff;
            background-color: #548dc9;
            font-family: 'Amaranth', sans-serif;
            font-size: 20px;
            font-weight: 400;
            font-style: italic;
            text-transform: capitalize;
            padding: 3px 15px;
            border-radius: 0;
            border: 2px solid rgba(255,255,255,0.2);
            box-shadow: 4px 4px 0 rgba(255, 255, 255, 0.3), 8px 8px 0 rgba(255, 255, 255, 0.2);
            position: relative;
            z-index: 1;
            transition: all 0.3s ease 0.1s;
            margin-right: 2em;
        }
        .bttn:hover{
            color: #fff;
            box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.4);
            border-color: #fff;
            transform:scale(1.1);
        }
        .bttn span{ display: block; }
        .bttn:before,
        .bttn:after,
        .bttn span:before,
        .bttn span:after{
            content: '';
            background-color: #548dc9;
            width: 50%;
            height: 2px;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 25%;
            top: -2px;
            transition: all 0.3s ease 0s;
        }
        .bttn:after{
            top: auto;
            bottom: -2px;
        }
        .bttn span:before,
        .bttn span:after{
            height: 50%;
            width: 2px;
            top: 25%;
            left: -2px;
        }
        .bttn span:after{
            left: auto;
            right: -2px;
        }
        .bttn:hover:before,
        .bttn:hover:after,
        .bttn:hover span:before,
        .bttn:hover span:after{
            opacity: 1;
            visibility: visible;
        }
        .bttn:hover:before{ left: 0; }
        .bttn:hover:after{ left: 50%; }
        .bttn:hover span:before{ top: 50%; }
        .bttn:hover span:after{ top: 0; }
    }

    .col-flex {
        display: block;


        i {
            background-color: #073e79;
            padding: .4em;
            border-radius: 50%;
            font-size: 3.5em;
            color: #fff;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

        }
        i:hover {
          box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
        }

        img {
            border-radius: 50%; 
            background-color: #792603;
            padding: .8em;
            width: 80%;
        
            
        }

        p {
            margin-top: 1.5em;
        }
    }
}

  
  
/* MAKE design starts here */

.appointment {
    margin: 5em;

    .make {
    
        span {
            font-size: 1.5em;  
        }
        p {
            font-size: .8em;
        }
        button {
            outline: none;
            border: none;
            display: inline-block;
            color: #fff;
            text-decoration: none;
            padding: 5px 15px;
            border-radius: 5px;
            box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
            cursor: pointer;
            -webkit-transition: all ease-in-out 300ms;
            transition: all ease-in-out 300ms;
            margin-top: 2em;
            background: #07e9c7;
            background: -webkit-linear-gradient(101deg, #0aa58e 0%, #042420 100%);
            background: linear-gradient(101deg, #0aa58e 0%, #042420 100%);
    
    
          }
          button:hover {
            box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
            -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.0);
            color: #fff;
            background-color: #361a0e;
        
          }
        
    }

    .appointment-form {
      
      margin-top: 2em;
      height: 100%;

      h4 {
        font-size: 1.8em;
        margin-bottom: 1em;

      }

      
    }
}





/* MEET OUR DOCTORS */

.meet-doctors {
  margin: 10em 0em;
  h1 {
    text-align: center;
  }

  .carousel {

    .carousel-indicators {
      color: #000;
    }

    .card {
      border: none;
      border-radius: 2em !important;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      
      transition: 1.5s ease;

      &:hover {
        scale: 1.03;
      }
    }
  }





}




/* EMERGENCY DESIGN STARTS HERE */
.emergency {
  background-image: url(/images/3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 35em;

  .emer-main {
    padding-left: 5em;
    padding-top: 10em;
   
    i {
      font-size: 4em;
      padding-right: 0.5em;
    }
    .fa-truck-medical {
      color: #2E3192;
    }
    h1 {
      font-weight: 700;
      
      span {
        color: #2E3192;
      }
    }
    h2 {
      color: #0aa58e;
      font-weight: bold;
    }
    .fa-phone-volume {
      color: #0aa58e;
    }
  }
}







/* COUSERAL starts here*/

.marquee-main {
  margin: 8em 0em;
}

.marquee {
  width: 100vw;
  height: 25vh;
  color: #eee;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, 0%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left, 0%, transparent 100%);
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  gap: 4em;
  animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 20vw;
  max-height: 100%;
  font-size: 18vh;
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  border: 2px solid #eee;
}


/* The mobile responsiveness */
@media (max-width: 600px) {
  .marquee {
    height: 16vh;
  }
  .marquee-content li {
    width: 33.33vw; 
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}











  /* FOOTER DESIGN STARTS HERE */

  footer {
    font-family: 'Signika', sans-serif;
    p {
      font-size: 10px;
      text-align: center;
    }
 }
 .bg-grey {
    background: #042420;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: #07e9c7;
 }
 footer a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: #07e9c7;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: #07e9c7;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
  text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa-brands {
color: #c1defc;
font-size: 22px;
padding: 10px 15px;


}
.social {
width: 100%;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: #bffaf1;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}




/* MEDIA RESPONSIVENESS */

@media screen and (max-width: 700px) {
 
  footer {
    text-align: center;
  }

  .form-footer {
    position: relative;
    left: 8em;
  }


  /* SEARCH BOX */
  .search-box {
    position: relative;
    bottom: 13em;
    padding: 1em;
  

}

}