{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthLEC</title>

    <link rel="stylesheet" href="{% static './styles/style.css' %}">
   <link rel="stylesheet" href="{% static './styles/for-professionals.css' %}">
    <link rel="shortcut icon" href="/images/HEALTHLEC.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8545a593ba.js" crossorigin="anonymous"></script>
    

</head>
<body>
    



 <!-- NAVBAR -->   

    <!-- Second navbar -->
<!-- Sticky Top Navigation Bar -->
<div class="sticky-top">
   <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear sticky-lg-top">
     <div class="container-fluid justify-content-between">
       <a class="navbar-brand" href="./index.html"><img src="{% static '/images/HEALTHLEC.png' %}" class="w-25" alt="HealthLEC"></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <ul class="navbar-nav ms-auto">
           <li class="nav-item dropdown">
             <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Find a Doctor
             </a>
             <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="./find-a-doctor-home.html">Find a Doctor Home</a></li>
               <li><a class="dropdown-item" href="#">Find Doctor by Specialty</a></li>
               <li><a class="dropdown-item" href="#">Find Doctors by Condition</a></li>
               <li><a class="dropdown-item" href="#">Find Doctors by Procedure</a></li>
             </ul>
           </li>
           <li class="nav-item dropdown">
             <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Find a Facility
             </a>
             <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="./find-facility.html">Find a Facility Home</a></li>
               <li><a class="dropdown-item" href="#">Top Hospitals by Specialty</a></li>
               <li><a class="dropdown-item" href="#">Urgent Care</a></li>
               <li><a class="dropdown-item" href="#">Pharmacy</a></li>
             </ul>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="./health-blog.html">HealthBlog</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active me-3" href="./telehealth.html">TeleHealth</a>
           </li>


           
         </ul>
       </div>
     </div>
   </nav>
 </div>




 <!-- BODY STARTS HERE -->

  <!-- LANDING PAGE -->
  <section>
    <div class="professional pb-4">

          

      <div class="row welcome">
        <h1 class="">Welcome to <span class="doc">HealthLEC for Professionals</span></h1>
        <p class="">
         We’re glad you’re back! Log into your account to view what’s new with your profile and HealthLEC for Professionals.
        </p>
      </div>


    </div>
  </section>



  <!-- LOGIN FOR PROFESSIONALS -->

  <section class="professionals">
   <div class=" w-75 mx-auto mt-5">
      <ul class="nav nav-tabs nav-underline" id="myTab" role="tablist">
        
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="false">Login</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup" type="button" role="tab" aria-controls="signup" aria-selected="false">Find Your Profile</button>
        </li>
        
      </ul>
      
      <div class="tab-content" id="myTabContent">
        

        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
          <div class="row">
            <div class="col-md-8 ">
               <form class="m-2 p- w-75 ">
                  <div class="mb-4 mt-4">
                     <h4 class="my-2 fw-bold ">Log In</h4>
                  </div>
                  <div class="mb-3">
                    <label for="loginEmail" class="form-label">Email or Username</label>
                    <input type="email" class="form-control" id="loginEmail" placeholder="Your Email or Username">
                  </div>
                  <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="loginPassword" placeholder="Enter Password">
                  </div>
                  
      
                  <div class="d-flex justify-content-between ">
                     <div class="">
                        <input type="checkbox" name="" id="">
                        <label for="checkbox" class="form-label">Remember me</label>
                     </div>
                     <div class="">
                        <a href="" class="">Forget Password</a>
                     </div>

                  </div>

                  <button type="submit" class="btn btn-success mt-5">Login</button>
                  
               </form>
            </div>


            <div class="col-md-4">
               <div class="text-center">
                  <img src="{% static '/images/HEALTHLEC.png' %}" alt="" class="w-25 my-5">

                  <h5 class="mb-4">
                     Don't have an account with us yet? Join for free.
                  </h5>

                  <button class="submit rounded-5 border-0 text-bg-success  py-2 px-3 mb-5">Claim your profile</button>
               
                  <div class="mt-5">
                     <img src="{% static '/images/illustratelogo.png' %}" alt="">
                  </div>
               
               </div>
            </div>
          </div>
        </div>


        <!-- find your profile -->

        <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
         <div class="row">
            <div class="col-md-8 ">
               <form class="m-2 p- w-75 ">
                  <div class="mb-4 mt-4">
                     <h4 class="my-2 fw-bold ">Find your profile</h4>
                  </div>

                  <p class="">
                     Your DEA or State license number is required for verification.
                  </p>

                  <div class="mb-3">
                    <label for="loginEmail" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" placeholder="lagos, NGA">
                  </div>
                  <div class="mb-3">
                    <label for="loginPassword" class="form-label">Medical Professional's Name</label>
                    <input type="search" class="form-control" id="medSearch" placeholder="Medical professional's Name">
                  </div>
                  
      
                  

                  <button type="submit" class="btn btn-success mt-5">Find Your Profile</button>
                  
               </form>
            </div>


            <div class="col-md-4">
               <div class="">
                  

                  <h4 class="mb-5 fw-bold ">
                     Join the leading destination of patients searching for healthcare professionals
                  </h4>

                 <div class="">
                  <div class="d-flex align-content-center gap-4 mb-4 ">
                     <div class="icon fs-6 mt-3">
                        <i class="bi bi-person-square fs-1"></i>
                     </div>
                     <div class="">
                        <p class="fw-bold">Increase Visibility</p>
                        <p class="">Personalize your profile and make it visible to more patients</p>
                     </div>
                  </div>
                  
                  <div class="d-flex align-content-center gap-4 mb-4">
                     <div class="icon fs-6 mt-3">
                        <i class="bi bi-gear-wide-connected fs-1"></i>
                     </div>
                     <div class="">
                        <p class="fw-bold">Boost Physician Referrals</p>
                        <p class="">Stand out to physicians making informed referrals</p>
                     </div>
                  </div>
                  <div class="d-flex align-content-center gap-4 mb-4">
                     <div class="icon fs-6 mt-3">
                        <i class="bi bi-people fs-1"></i>
                     </div>
                     <div class="">
                        <p class="fw-bold">Connect with Patients</p>
                        <p class="">Get twice the appointment requests with a complete profile</p>
                     </div>
                  </div>
                  <div class="d-flex align-content-center gap-4 mb-4">
                     <div class="icon fs-6 mt-3">
                        <i class="bi bi-person-gear fs-1"></i>
                     </div>
                     <div class="">
                        <p class="fw-bold">Manage Your Profile</p>
                        <p class="">Access tools to manage and respond to reviews</p>
                     </div>
                  </div>
                 </div>
               
                  <div class="mt-5">
                     <img src="{% static '/images/illustratelogo.png' %}" alt="">
                  </div>
               
               </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>



  </section>


 

<section class="">
   <div class="text-center">
      <img src="{% static '/images/HEALTHLEC.png' %}" class="w-25 my-4 mt-5" alt="">

      <p class="mb-4 ">
         By updating your data with Healthgrades, your data will also be updated across all of our partner solutions.
      </p>

      <div class="text-center mb-5">
         <img src="{% static '/images/76799e0b35cdf411c650.svg' %}" alt="">
         <img src="{% static '/images/download.svg' %}" alt="">
         <img src="{% static '/images/0710967ad6065578f459.svg' %}" alt="">
      </div>
   </div>
</section>











<!-- FOOTER STARTS HERE -->
<footer class="container-fluid bg-grey py-5">
  <div class="container">
     <div class="row pb-3">
        <div class="col-md-9">
           <div class="row">
              <div class="col-md-3 ">
                <h5>For patients</h5>
                <ul>
                  <li> <a href="#"> Account Sign Up / Log In</a> </li>
                  <li> <a href="#"> Hospital Awards & Ratings</a> </li>
                  <li> <a href="#"> Finding Quality Care</a> </li>
                  <li> <a href="#"> Drugs A-Z</a> </li>
                  <li> <a href="#"> Healthgrades Health Library</a> </li>
                  <li> <a href="#"> Video Center</a> </li>
               </ul>
              </div>
              <div class="col-md-3 ">
                 <h5>For Providers</h5>
                 <ul>
                  <li> <a href="#"> Provider Log In</a> </li>
                  <li> <a href="#"> Promote Your Practice</a> </li>
                  <li> <a href="#"> Finding Quality Care</a> </li>
                  <li> <a href="#"> Claim Your Free Profile</a> </li>
                  <li> <a href="#"> News and Features</a> </li>
                  <li> <a href="#"> Help Center</a> </li>
               </ul>
                 <a href="#" class="btn-footer"> More Info </a><br>
                 <a href="#" class="btn-footer"> Find Care</a>
              </div>

              <div class="col-md-3 ">
                <h5>For Partners</h5>
                <ul>
                 <li> <a href="#"> Healthgrades for Health Systems</a> </li>
                 <li> <a href="#"> Promote Quality Achievements</a> </li>
                 <li> <a href="#"> Life Sciences Advertisers</a> </li>
                 <li> <a href="#"> Virtual Point of Care Solutions</a> </li>
                 <li> <a href="#"> Advertising & Use Guidelines</a> </li>
                
              </ul>
                
             </div>

             <div class="col-md-3 ">
              <h5>Our Company</h5>
              <ul>
               <li> <a href="#"> Contact Us</a> </li>
               <li> <a href="#"> About Us</a> </li>
               <li> <a href="#"> Corporate</a> </li>
               <li> <a href="#"> Healthgrades Methodologies</a> </li>
               <li> <a href="#"> Blog</a> </li>
               <li> <a href="#"> Press Room</a> </li>
               <li> <a href="#"> Careers</a> </li>
               <li> <a href="#"> Privacy Policy</a> </li>
               <li> <a href="#"> Advertising Policy</a> </li>
               <li> <a href="#"> Do Not Sell or Share My Personal Information</a> </li>
               <li> <a href="#"> Consumer Health Data Privacy Policy</a> </li>
            </ul>
              
           </div>

           </div>
        </div>
        <div class="col-md-3">
           <div class="row">
              
              <div class="col-md-6 w-100 ">
                 <h6>Healthy Living Newsletter</h6>
                 <div class="social">
                    <a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                 </div>
                 <form class="form-footer my-3 d-flex">
                    <input type="text"  placeholder="you@email.com" name="search">
                    <input type="button" value="Sign me up!" >
                 </form>
                 <p>That's technology limitation of LCD monitors</p>
              </div>
           </div>
        </div>
     </div>

     <div class="pt-5">
      <p>© Copyright 2024 Healthgrades Marketplace, LLC, Patent US Nos. 7,752,060 and 8,719,052. All Rights Reserved. Third Party materials included herein protected under copyright law.

        Use of this website and any information contained herein is governed by the Healthgrades User Agreement. The content on Healthgrades does not provide medical advice. Always consult a medical provider for diagnosis and treatment. </p>
     </div>
  </div>
  </div>
<!-- ./Footer -->
  




<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
   <script>
    AOS.init({
        // duration: 1500, // Duration of animations (in milliseconds)
        //easing: 'ease', // Type of easing
        //offset: 100, // Offset (in pixels) from the original trigger point
        //once: true // Whether animation should only happen once - while scrolling down
    });
</script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="{% static './JS/script.js' %}"></script>
    
</body>
</html>