
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a Home</title>

    <link rel="stylesheet" href="{% static './styles/style.css' %}">
    <link rel="stylesheet" href="{% static './styles/health-blog.css' %}">
    <link rel="shortcut icon" href="/images/HEALTHLEC.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="{% static '//code.jquery.com/jquery-1.11.1.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/8545a593ba.js" crossorigin="anonymous"></script>
    
</head>
<body>
    

     <!-- BODY STARTS HERE -->


         <!-- NAVIGATION STARTS HERE -->
      

<!-- Sticky Top Navigation Bar -->
<div class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear sticky-lg-top">
    <div class="container-fluid justify-content-between">
      <a class="navbar-brand" href="./index.html"><img src="{% static '/images/HEALTHLEC.png' %}" class="w-25" alt="HealthLEC"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Find a Doctor
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./find-a-doctor-home.html">Find a Doctor Home</a></li>
              <li><a class="dropdown-item" href="#">Find Doctor by Specialty</a></li>
              <li><a class="dropdown-item" href="#">Find Doctors by Condition</a></li>
              <li><a class="dropdown-item" href="#">Find Doctors by Procedure</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Find a Facility
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./find-facility.html">Find a Facility Home</a></li>
              <li><a class="dropdown-item" href="#">Top Hospitals by Specialty</a></li>
              <li><a class="dropdown-item" href="#">Urgent Care</a></li>
              <li><a class="dropdown-item" href="#">Pharmacy</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./health-blog.html">HealthBlog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active me-3" href="./telehealth.html">TeleHealth</a>
          </li>


          
        </ul>
      </div>
    </div>
  </nav>
</div>





  <!-- LANDING PAGE -->
  <section>
    <div class="blogHealth pb-4">       

      <div class="row">
        <div class="col-md-6 find">
          <h1 class="">News & Blog <span class="doc">HealthEducation</span></h1>
            <p class="small"><span><a href="/index.html">Home</a></span>-News & Blog</p>    
        
        </div>

        <div class="col-md-6 ">
          
        </div>
        
      </div>
    </div>
  </section>




  <!-- CARDS -->

  <section class="container-flui ">
   <div class="health-blog">
    <div class="fw-semibold fs-4">FEATURED STORIES</div>
    <hr>
    <div class="row ms-2">
        
        <div class="col-lg-6">
            <a href="https://www.medicalnewstoday.com/articles/in-conversation-is-intermittent-fasting-actually-bad-for-your-heart#1" class="">
                <div class="card mb-3 border-0" style="max-width: 600px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static './images/healthblog/732x549-mnt-inconvo-fasting-feature.avif' %}" class="img-fluid h-100 rounded-start" alt="...">
                      </div>
                      <div class="col-md-8 p-0">
                        <div class="card-body">
                          <h5 class="card-title">
                            In Conversation: Is intermittent fasting actually bad for your heart?
                          </h5>
                          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                          <p class="card-text"><small class="text-body-secondary">Written by Yasemin Nicola Sakay</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </a>
        </div>

        <div class="col-lg-6">
            <a href="https://www.medicalnewstoday.com/articles/are-plant-based-meat-substitutes-really-better-for-the-heart-than-meat-options" class="">
                <div class="card mb-3 border-0" style="max-width: 600px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static './images/healthblog/likemeat-nEp0u0U-ovs-unsplash-scaled.jpg' %}" class="img-fluid h-100 rounded-start" alt="...">
                      </div>
                      <div class="col-md-8 p-0">
                        <div class="card-body">
                          <h5 class="card-title">
                            Are plant-based meat substitutes really better for the heart than meat…
                          </h5>
                          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                          <p class="card-text"><small class="text-body-secondary">Written by Paul Ian Cross, PhD</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </a>
        </div>

        <div class="col-lg-6">
            <a href="" class="">
                <div class="card mb-3 border-0" style="max-width: 600px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static './images/healthblog/balanced-diet.jpg' %}" class="img-fluid h-100 rounded-start" alt="...">
                      </div>
                      <div class="col-md-8 p-0">
                        <div class="card-body">
                          <h5 class="card-title">
                            A 'balanced' diet is better than a vegetarian one in supporting brain…
                          </h5>
                          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                          <p class="card-text"><small class="text-body-secondary">Written by Jessica Freeborn</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </a>
        </div>

        <div class="col-lg-6">
            <a href="https://www.medicalnewstoday.com/articles/psoriasis-and-chronic-inflammation" class="">
                <div class="card mb-3 border-0  " style="max-width: 600px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static './images/healthblog/74708157_m.jpg' %}" class="img-fluid h-100 rounded-start" alt="...">
                      </div>
                      <div class="col-md-8 p-0">
                        <div class="card-body">
                          <h5 class="card-title">
                            Managing chronic inflammation with psoriasis
                          </h5>
                          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                          <p class="card-text"><small class="text-body-secondary">Written by Jillian Kubala, MS, RD</small></p>
                        </div>
                    </div>
                  </div>
            </a>
        </div>
    </div>
   </div>
    
 </section>
      
   
  <!-- LATEST NEWS -->

  <section class="container-flui">
    <div class="health-blog">
        <div class="d-flex align-content-center justify-content-between ">
            <div class="fw-semibold fs-4">LATEST NEWS</div>
            <div class=""><a href="">VIEW ALL ➡️</a></div>
        </div>
        <hr>
     

        <div class="row ms-2">
                
            <div class="col-lg-6">
                <a href="https://www.medicalnewstoday.com/articles/newly-identified-biomarkers-may-warn-of-cancer-7-years-before-symptoms-set-in" class="">
                    <div class="card mb-3 border-0" style="max-width: 600px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static './images/healthblog/scientist-handling-blood-vials-732x549-thumbnail.avif' %}" class="img-fluid h-100 rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 p-0">
                            <div class="card-body">
                            <h5 class="card-title">
                                Newly identified biomarkers may warn of cancer 7 years before symptoms…
                            </h5>
                            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                            <p class="card-text"><small class="text-body-secondary">Written by Robby Berman</small></p>
                            </div>
                        </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6">
                <a href="https://www.medicalnewstoday.com/articles/ketogenic-diet-may-lower-stress-and-boost-mental-health" class="">
                    <div class="card mb-3 border-0" style="max-width: 600px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static './images/healthblog/tomato-branch-foil-732x549-thumbnail.avif' %}" class="img-fluid h-100 rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 p-0">
                            <div class="card-body">
                            <h5 class="card-title">
                                Ketogenic diet may help lower stress and boost mental health…
                            </h5>
                            
                            <p class="card-text"><small class="text-body-secondary">Written by Kelsey Costa, MS, RDN</small></p>
                            </div>
                        </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6">
                <a href="https://www.medicalnewstoday.com/articles/semaglutide-heart-failure-diuretics-weight-loss" class="">
                    <div class="card mb-3 border-0" style="max-width: 600px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static './images/healthblog/woman-holds-Ozempic-pen-732x549-thumbnail.avif' %}" class="img-fluid h-100 rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 p-0">
                            <div class="card-body">
                            <h5 class="card-title">
                                Semaglutide may improve heart failure symptoms, reduce need for…
                            </h5>
                            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                            <p class="card-text"><small class="text-body-secondary">Written by Corrie Pelc</small></p>
                            </div>
                        </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6">
                <a href="https://www.medicalnewstoday.com/articles/why-are-men-at-higher-diabetes-and-diabetes-complications-risk-than-women" class="">
                    <div class="card mb-3 border-0  " style="max-width: 600px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static './images/healthblog/measuring-blood-glucose-732x549-thumbnail.avif' %}" class="img-fluid h-100 rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 p-0">
                            <div class="card-body">
                            <h5 class="card-title">
                                Why are men at higher diabetes, diabetes complications risk than women? 
                            </h5>
                            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                            <p class="card-text"><small class="text-body-secondary">Written by Hannah Flynn</small></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            

        </div> 

    </div>

    
    <div class="health-">
        
        <div class="row ms-2">
            
            <div class="col-lg-6">
                <a href="https://www.medicalnewstoday.com/articles/global-health-disease-risk-factors-such-as-hypertension-high-blood-sugar-are-on-the-rise" class="">
                    <div class="card mb-3 border-0" style="max-width: 600px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static './images/healthblog/senior-woman-health-tests-732x549-thumbnail.avif' %}" class="img-fluid h-100 rounded-start" alt="...">
                          </div>
                          <div class="col-md-8 p-0">
                            <div class="card-body">
                              <h5 class="card-title">
                                Global health: Disease risk factors such as hypertension, high blood…
                              </h5>
                              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                              <p class="card-text"><small class="text-body-secondary">Written by Tony Hicks</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
            </div>
    
            <div class="col-lg-6">
                <a href="https://www.medicalnewstoday.com/articles/are-plant-based-meat-substitutes-really-better-for-the-heart-than-meat-options" class="">
                    <div class="card mb-3 border-0" style="max-width: 600px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static './images/healthblog/move-slower-GettyImages-1061685734-Thumb.avif' %}" class="img-fluid h-100 rounded-start" alt="...">
                          </div>
                          <div class="col-md-8 p-0">
                            <div class="card-body">
                              <h5 class="card-title">
                                    New research helps explain why people move slower as they get older
                              </h5>
                              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                              <p class="card-text"><small class="text-body-secondary">Written by Corrie Pelc</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
            </div>
    
            <div class="col-lg-6">
                <a href="" class="">
                    <div class="card mb-3 border-0" style="max-width: 600px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static './images/healthblog/woman-blood-pressure-checks-732x549-thumbnail.avif' %}" class="img-fluid h-100 rounded-start" alt="...">
                          </div>
                          <div class="col-md-8 p-0">
                            <div class="card-body">
                              <h5 class="card-title">
                                Heart disease: How MRI scans may more accurately detect the condition…
                              </h5>
                              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                              <p class="card-text"><small class="text-body-secondary">Written by Eileen Bailey</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
            </div>
    
            <div class="col-lg-6">
                <a href="https://www.medicalnewstoday.com/articles/psoriasis-and-chronic-inflammation" class="">
                    <div class="card mb-3 border-0  " style="max-width: 600px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static './images/healthblog/74708157_m.jpg' %}" class="img-fluid h-100 rounded-start" alt="...">
                          </div>
                          <div class="col-md-8 p-0">
                            <div class="card-body">
                              <h5 class="card-title">
                                Can sleep really clear toxins from the brain? New study offers clues
                              </h5>
                              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                              <p class="card-text"><small class="text-body-secondary">Written by Robby Berman</small></p>
                            </div>
                        </div>
                      </div>
                </a>
            </div>
   
            
   
            
        </div>
        
    </div>

    <div class="health-">
        
        <div class="row ms-2">
            
            <div class="col-lg-6">
                <a href="https://www.medicalnewstoday.com/articles/in-conversation-is-intermittent-fasting-actually-bad-for-your-heart#1" class="">
                    <div class="card mb-3 border-0" style="max-width: 600px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static './images/healthblog/732x549-mnt-inconvo-fasting-feature.avif' %}" class="img-fluid h-100 rounded-start" alt="...">
                          </div>
                          <div class="col-md-8 p-0">
                            <div class="card-body">
                              <h5 class="card-title">
                                In Conversation: Is intermittent fasting actually bad for your heart?
                              </h5>
                              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                              <p class="card-text"><small class="text-body-secondary">Written by Yasemin Nicola Sakay</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
            </div>
    
            <div class="col-lg-6">
                <a href="https://www.medicalnewstoday.com/articles/are-plant-based-meat-substitutes-really-better-for-the-heart-than-meat-options" class="">
                    <div class="card mb-3 border-0" style="max-width: 600px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static './images/healthblog/likemeat-nEp0u0U-ovs-unsplash-scaled.jpg' %}" class="img-fluid h-100 rounded-start" alt="...">
                          </div>
                          <div class="col-md-8 p-0">
                            <div class="card-body">
                              <h5 class="card-title">
                                Are plant-based meat substitutes really better for the heart than meat…
                              </h5>
                              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                              <p class="card-text"><small class="text-body-secondary">Written by Paul Ian Cross, PhD</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
            </div>
    
            <div class="col-lg-6">
                <a href="" class="">
                    <div class="card mb-3 border-0" style="max-width: 600px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static './images/healthblog/balanced-diet.jpg' %}" class="img-fluid h-100 rounded-start" alt="...">
                          </div>
                          <div class="col-md-8 p-0">
                            <div class="card-body">
                              <h5 class="card-title">
                                A 'balanced' diet is better than a vegetarian one in supporting brain…
                              </h5>
                              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                              <p class="card-text"><small class="text-body-secondary">Written by Jessica Freeborn</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
            </div>
    
            <div class="col-lg-6">
                <a href="https://www.medicalnewstoday.com/articles/psoriasis-and-chronic-inflammation" class="">
                    <div class="card mb-3 border-0  " style="max-width: 600px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static './images/healthblog/74708157_m.jpg' %}" class="img-fluid h-100 rounded-start" alt="...">
                          </div>
                          <div class="col-md-8 p-0">
                            <div class="card-body">
                              <h5 class="card-title">
                                Managing chronic inflammation with psoriasis
                              </h5>
                              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                              <p class="card-text"><small class="text-body-secondary">Written by Jillian Kubala, MS, RD</small></p>
                            </div>
                        </div>
                      </div>
                </a>
            </div>
   
            
   
            
        </div>
   
        
   
        
    </div>

</section>


<!-- SPOTLIGHT -->

<section class="mb-5">
    <div class="health-blog">
        <div class="d-flex align-content-center justify-content-between ">
            <div class="fw-semibold fs-4">SPOTLIGHT</div>
            
        </div>
        <hr>

        <div class="row">
            <div class="col-lg-3">
                <img class="w-100" src="{% static './images/healthblog/601x901-pinterest-homepage-hub-bio-4.avif' %}" alt="">
            </div>
            <div class="col-lg-3">
                <img class="w-100" src="{% static './images/healthblog/601x901-pinterest-homepage-hub-depression-3.avif' %}" alt="">
            </div>
            <div class="col-lg-3">
                <img class="w-100" src="{% static './images/healthblog/725212-fitness-hub-601x901-homepage.avif' %}" alt="">
            </div>
            <div class="col-lg-3">
                <img class="w-100" src="{% static './images/healthblog/MNT-Psoriasis-KeyArtExamining-Psoriasis-from-the-Inside-Out-600x450-Spotlight.avif' %}" alt="">
            </div>
        </div>
    </div>


</section>




     

<!-- FOOTER STARTS HERE -->
<footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row pb-3">
          <div class="col-md-9">
             <div class="row">
                <div class="col-md-3 ">
                  <h5>For patients</h5>
                  <ul>
                    <li> <a href="#"> Account Sign Up / Log In</a> </li>
                    <li> <a href="#"> Hospital Awards & Ratings</a> </li>
                    <li> <a href="#"> Finding Quality Care</a> </li>
                    <li> <a href="#"> Drugs A-Z</a> </li>
                    <li> <a href="#"> Healthgrades Health Library</a> </li>
                    <li> <a href="#"> Video Center</a> </li>
                 </ul>
                </div>
                <div class="col-md-3 ">
                   <h5>For Providers</h5>
                   <ul>
                    <li> <a href="#"> Provider Log In</a> </li>
                    <li> <a href="#"> Promote Your Practice</a> </li>
                    <li> <a href="#"> Finding Quality Care</a> </li>
                    <li> <a href="#"> Claim Your Free Profile</a> </li>
                    <li> <a href="#"> News and Features</a> </li>
                    <li> <a href="#"> Help Center</a> </li>
                 </ul>
                   <a href="#" class="btn-footer"> More Info </a><br>
                   <a href="#" class="btn-footer"> Find Care</a>
                </div>
  
                <div class="col-md-3 ">
                  <h5>For Partners</h5>
                  <ul>
                   <li> <a href="#"> Healthgrades for Health Systems</a> </li>
                   <li> <a href="#"> Promote Quality Achievements</a> </li>
                   <li> <a href="#"> Life Sciences Advertisers</a> </li>
                   <li> <a href="#"> Virtual Point of Care Solutions</a> </li>
                   <li> <a href="#"> Advertising & Use Guidelines</a> </li>
                  
                </ul>
                  
               </div>
  
               <div class="col-md-3 ">
                <h5>Our Company</h5>
                <ul>
                 <li> <a href="#"> Contact Us</a> </li>
                 <li> <a href="#"> About Us</a> </li>
                 <li> <a href="#"> Corporate</a> </li>
                 <li> <a href="#"> Healthgrades Methodologies</a> </li>
                 <li> <a href="#"> Blog</a> </li>
                 <li> <a href="#"> Press Room</a> </li>
                 <li> <a href="#"> Careers</a> </li>
                 <li> <a href="#"> Privacy Policy</a> </li>
                 <li> <a href="#"> Advertising Policy</a> </li>
                 <li> <a href="#"> Do Not Sell or Share My Personal Information</a> </li>
                 <li> <a href="#"> Consumer Health Data Privacy Policy</a> </li>
              </ul>
                
             </div>
  
             </div>
          </div>
          <div class="col-md-3">
             <div class="row">
                
                <div class="col-md-6 w-100 ">
                   <h6>Healthy Living Newsletter</h6>
                   <div class="social">
                      <a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                   </div>
                   <form class="form-footer my-3 d-flex">
                      <input type="text"  placeholder="you@email.com" name="search">
                      <input type="button" value="Sign me up!" >
                   </form>
                   <p>That's technology limitation of LCD monitors</p>
                </div>
             </div>
          </div>
       </div>
  
       <div class="pt-5">
        <p>© Copyright 2024 Healthgrades Marketplace, LLC, Patent US Nos. 7,752,060 and 8,719,052. All Rights Reserved. Third Party materials included herein protected under copyright law.
  
          Use of this website and any information contained herein is governed by the Healthgrades User Agreement. The content on Healthgrades does not provide medical advice. Always consult a medical provider for diagnosis and treatment. </p>
       </div>
    </div>
    </div>
  <!-- ./Footer -->




  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
   <script>
    AOS.init({
        //duration: 800, // Duration of animations (in milliseconds)
        //easing: 'ease', // Type of easing
        //offset: 100, // Offset (in pixels) from the original trigger point
        //once: true // Whether animation should only happen once - while scrolling down
    });
</script>


</body>
</html>