
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a Home</title>

    <link rel="stylesheet" href="{% static './styles/style.css' %}">
    <link rel="stylesheet" href="{% static './styles/telehealth.css' %}">
    <link rel="shortcut icon" href="/images/HEALTHLEC.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://kit.fontawesome.com/8545a593ba.js" crossorigin="anonymous"></script>
    
    

</head>
<body>
    

     <!-- BODY STARTS HERE -->


     <!-- NAVIGATION STARTS HERE -->
    
<!-- Sticky Top Navigation Bar -->
<div class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear sticky-lg-top">
    <div class="container-fluid justify-content-between">
      <a class="navbar-brand" href="./index.html"><img src="{% static '/images/HEALTHLEC.png' %}" class="w-25" alt="HealthLEC"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Find a Doctor
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./find-a-doctor-home.html">Find a Doctor Home</a></li>
              <li><a class="dropdown-item" href="#">Find Doctor by Specialty</a></li>
              <li><a class="dropdown-item" href="#">Find Doctors by Condition</a></li>
              <li><a class="dropdown-item" href="#">Find Doctors by Procedure</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Find a Facility
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./find-facility.html">Find a Facility Home</a></li>
              <li><a class="dropdown-item" href="#">Top Hospitals by Specialty</a></li>
              <li><a class="dropdown-item" href="#">Urgent Care</a></li>
              <li><a class="dropdown-item" href="#">Pharmacy</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./health-blog.html">HealthBlog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active me-3" href="./telehealth.html">TeleHealth</a>
          </li>


          
        </ul>
      </div>
    </div>
  </nav>
</div>


  <!--TELEHEALTH LANDING PAGE -->
  <section>
    <div class="telehealth pb-4">

          

      <div class="row">
        <div class="col-md-6 ">
          
        
        </div>

        <div class="col-md-6 health">
          <div class="">
            <h1 class="">Health should always be within reach. <span class="doc">TeleHealth</span> </h1>
          </div>
        </div>
        
      </div>
      

    </div>
  </section>


  <!-- 24HRS CARE -->
  <section class="twenty_four">
    <div class="text-center hour24">
        <h1 class="">24-hour urgent care near you</h1>
        <p class="w-75 mx-auto my-3 ">HealthLEC offers 24/7 urgent and everyday care wherever you are. Get matched with a top therapist or psychiatrist for your mental health visits. 
            We accept most <span class=""><a href="">insurance</a></span>, which means your visit could be free.</p>
    </div>
  </section>



  <!-- HOW TO GET -->
  <section class="how-to-get">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="">How to get exceptional virtual care</h2>
                <p class="">With access to board-certified primary care physicians and certified health coaches, here's what you can expect throughout your journey.</p>
            </div>
            <div class="col-md-9">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          <span class="me-3">STEP 1</span>
                          <span class="">Book an appointment</span>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{% static '/images/How-PlushCare-Works-Step-1-_1_.avif' %}" alt="" class="w-100">
                                </div>
                                <div class="col-md-9">
                                    <p class="fs-4">Book an appointment with one of our top-rated doctors or therapists.</p>
                                    <p class="">Book a same-day appointment from the comfort of wherever you are.</p>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <span class="me-3">STEP 2</span>
                            <span class="">Talk to a Clinician</span>
                          </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                              <div class="row">
                                  <div class="col-md-3">
                                      <img src="{% static '/images/How_PlushCare_Works_Step.avif' %}" alt="" class="w-100">
                                  </div>
                                  <div class="col-md-9">
                                      <p class="fs-4">Talk to your clinician regarding your concerns.</p>
                                      <p class="">Visit with a doctor or therapist through the convenience of your smartphone or computer.</p>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <span class="me-3">STEP 3</span>
                            <span class="">Pick up your prescription</span>
                          </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                              <div class="row">
                                  <div class="col-md-3">
                                      <img src="{% static '/images/How-PlushCare-Works-Step-1-_1_.avif' %}" alt="" class="w-100">
                                  </div>
                                  <div class="col-md-9">
                                      <p class="fs-4">Pick up your prescription, if needed.</p>
                                      <p class="">Prescriptions are provided at the doctor’s discretion. We can send prescriptions to any local pharmacy.</p>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
  </section>




  <!-- TELEHEALTH SERVICES -->
  <section class="container telehealth-services">
    <div class="row">
        <div class="col-md-4">
            <h2 class="">Telehealth services</h2>
            <p class="">
                With a team of doctors from the top 50 medical schools in America, we have earned the trust of over 550,000 patients. We are fully licensed in all 50 states. While we do accept insurance, it's not required for your appointment. Need medication? We can send your prescription to your nearest pharmacy at your convenience. Easily schedule your online visit with us today
            </p>
        </div>

        <div class="col-md-8">
            <div class="">
                <h5 class="fw-semibold ">Online doctor services</h5>
                <p class="">
                    Experience personalized care with our online doctor services covering a spectrum of health needs. Our board-certified physicians are here for you and your specific health concerns.
                </p>
                <div class=" mx-4 mb-4">
                    <button>Women's Health</button>
                    <button>Men's Health</button>
                    <button>Chronic Care</button>
                    <button>Sexual Health</button> <br> <br>
                    <button>weight Loss</button>
                    <button>Pediatric care</button>
                </div>

                <h5 class="fw-semibold ">Mental health and online therapy</h5>
                <p class="">
                    Your mental health matters. Access compassionate care through our online therapy services, and speak to our board-certified primary care physicians about mental health medications. Our licensed therapists and physicians are here to support you on your journey towards mental well-being.
                </p>

                <h5 class="fw-semibold ">Prescription services</h5>
                <p class="">
                    Save on your medications with our prescription discount card. Quality healthcare shouldn't break the bank. Enjoy exclusive discounts on your online prescriptions through our convenient service.
                </p>

                <h5 class="fw-semibold ">Urgent care</h5>
                <p class="">
                    Life doesn't wait, and neither do we when it comes to providing you the healthcare you need. From cold and flu treatment to UTI evaluations, our urgent care services ensure you receive prompt attention from our experienced healthcare professionals. Your health is our priority, 24/7.
                </p>

                <h5 class="fw-semibold ">Preventive care</h5>
                <p class="">
                    Take charge of your health with our free annual wellness visits and other preventive care services. Regular check-ups keep you healthy, and we've made them accessible at no cost.
                </p>

                <h5 class="fw-semibold ">Discounted labs and at-home test kits</h5>
                <p class="">
                    Monitoring your health is now more affordable with our discounted labs and at-home test kits. Stay proactive about your well-being with convenient, cost-effective options.
                </p>

            </div>
        </div>
    </div>
  </section>



<!-- FOOTER STARTS HERE -->
<footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row pb-3">
          <div class="col-md-9">
             <div class="row">
                <div class="col-md-3 ">
                  <h5>For patients</h5>
                  <ul>
                    <li> <a href="./signUp.html"> Account Sign Up / Log In</a> </li>
                    <li> <a href="#"> Hospital Awards & Ratings</a> </li>
                    <li> <a href="#"> Finding Quality Care</a> </li>
                    <li> <a href="#"> Drugs A-Z</a> </li>
                    <li> <a href="./health-blog.html"> Healthgrades Health Library</a> </li>
                    <li> <a href="#"> Video Center</a> </li>
                 </ul>
                </div>
                <div class="col-md-3 ">
                   <h5>For Providers</h5>
                   <ul>
                    <li> <a href="#"> Provider Log In</a> </li>
                    <li> <a href="#"> Promote Your Practice</a> </li>
                    <li> <a href="#"> Finding Quality Care</a> </li>
                    <li> <a href="#"> Claim Your Free Profile</a> </li>
                    <li> <a href="#"> News and Features</a> </li>
                    <li> <a href="#"> Help Center</a> </li>
                 </ul>
                   <a href="#" class="btn-footer"> More Info </a><br>
                   <a href="#" class="btn-footer"> Find Care</a>
                </div>
  
                <div class="col-md-3 ">
                  <h5>For Partners</h5>
                  <ul>
                   <li> <a href="#"> Healthgrades for Health Systems</a> </li>
                   <li> <a href="#"> Promote Quality Achievements</a> </li>
                   <li> <a href="#"> Life Sciences Advertisers</a> </li>
                   <li> <a href="#"> Virtual Point of Care Solutions</a> </li>
                   <li> <a href="#"> Advertising & Use Guidelines</a> </li>
                  
                </ul>
                  
               </div>
  
               <div class="col-md-3 ">
                <h5>Our Company</h5>
                <ul>
                 <li> <a href="#"> Contact Us</a> </li>
                 <li> <a href="#"> About Us</a> </li>
                 <li> <a href="#"> Corporate</a> </li>
                 <li> <a href="#"> Healthgrades Methodologies</a> </li>
                 <li> <a href="#"> Blog</a> </li>
                 <li> <a href="#"> Press Room</a> </li>
                 <li> <a href="#"> Careers</a> </li>
                 <li> <a href="#"> Privacy Policy</a> </li>
                 <li> <a href="#"> Advertising Policy</a> </li>
                 <li> <a href="#"> Do Not Sell or Share My Personal Information</a> </li>
                 <li> <a href="#"> Consumer Health Data Privacy Policy</a> </li>
              </ul>
                
             </div>
  
             </div>
          </div>
          <div class="col-md-3">
             <div class="row">
                
                <div class="col-md-6 w-100 ">
                   <h6>Healthy Living Newsletter</h6>
                   <div class="social">
                      <a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                   </div>
                   <form class="form-footer my-3 d-flex">
                      <input type="text"  placeholder="you@email.com" name="search">
                      <input type="button" value="Sign me up!" >
                   </form>
                   <p>That's technology limitation of LCD monitors</p>
                </div>
             </div>
          </div>
       </div>
  
       <div class="pt-5">
        <p>© Copyright 2024 Healthgrades Marketplace, LLC, Patent US Nos. 7,752,060 and 8,719,052. All Rights Reserved. Third Party materials included herein protected under copyright law.
  
          Use of this website and any information contained herein is governed by the Healthgrades User Agreement. The content on Healthgrades does not provide medical advice. Always consult a medical provider for diagnosis and treatment. </p>
       </div>
    </div>
    </div>
  <!-- ./Footer -->







  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="{% static './script.js' %}"></script>
  
  
  <script src="https://pagead2.googlesyndication.com/pagead/managed/js/adsense/m202405130101/show_ads_impl_fy2021.js"></script><script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
</body>
</html>